{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <style>
    h2 {text-align:center;}
    form {text-align:center;}
    body{ background-image:url('{% static 'images/logo.png' %}')}
    </style>
</head>

<body>
<h2>LOG IN</h2>
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="enter your username"><br>
    <input type="password" name="password" placeholder="enter your password"><br>
    <input type="submit">
</form>
</body>
</html>